<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>A</td><td>TC08_AgnTsName.loginTest08(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.web.testCases.TC08_AgnTsName@2b9627bc]<br/></td></tr>
</table>
