<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ec8072">  <td>20/02/01 23:28:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC08_AgnTsName.loginTest08(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.web.testCases.TC08_AgnTsName@7b49cea0]">loginTest08</td> 
  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/02/01 23:28:06</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC08_AgnTsName.loginTest08(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.web.testCases.TC08_AgnTsName@7b49cea0]">loginTest08</td> 
  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/02/01 23:28:06</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC08_AgnTsName.loginTest08(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.web.testCases.TC08_AgnTsName@7b49cea0]">loginTest08</td> 
  <td>main@1260134048</td>   <td></td> </tr>
</table>
