<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ad2d6">  <td>20/02/02 04:07:29</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.startReport()[pri:0, instance:com.web.testCases.TC08_AgnTsName@5bc79255]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1454031203</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>20/02/02 04:07:31</td>   <td>2666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.web.testCases.TC08_AgnTsName@5bc79255]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1454031203</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/02/02 04:07:36</td>   <td>7837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC08_AgnTsName.loginTest08(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.web.testCases.TC08_AgnTsName@5bc79255]">loginTest08</td> 
  <td>main@1454031203</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>20/02/02 04:07:55</td>   <td>25888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:com.web.testCases.TC08_AgnTsName@5bc79255]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1454031203</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>20/02/02 04:07:58</td>   <td>28951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.web.testCases.TC08_AgnTsName@5bc79255]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1454031203</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/02/02 04:08:02</td>   <td>33424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC08_AgnTsName.loginTest08(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.web.testCases.TC08_AgnTsName@5bc79255]">loginTest08</td> 
  <td>main@1454031203</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>20/02/02 04:08:13</td>   <td>44683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:com.web.testCases.TC08_AgnTsName@5bc79255]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1454031203</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>20/02/02 04:08:19</td>   <td>50718</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.endReport(org.testng.ITestContext)[pri:0, instance:com.web.testCases.TC08_AgnTsName@5bc79255]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1454031203</td>   <td></td> </tr>
</table>
