<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>TC01_LoginTest</td><td>TC01_LoginTest.loginTest(org.testng.ITestContext)[pri:3, instance:com.web.testCases.TC01_LoginTest@887af79]<br/></td></tr>
<tr><td>TC03_LoginTest</td><td>TC03_LoginTest.loginTest3(org.testng.ITestContext, java.lang.String, java.lang.String)[pri:0, instance:com.web.testCases.TC03_LoginTest@4bbfb90a]<br/></td></tr>
</table>
