<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c26598">  <td>20/02/16 19:50:45</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.endReport()[pri:0, instance:com.web.testCases.TC01_LoginTest@887af79]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1846432598</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/16 19:50:45</td>   <td>302</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.endReport()[pri:0, instance:com.web.testCases.TC03_LoginTest@4bbfb90a]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1000440690</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>20/02/16 19:50:29</td>   <td>-15748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_LoginTest.loginTest(org.testng.ITestContext)[pri:3, instance:com.web.testCases.TC01_LoginTest@887af79]">loginTest</td> 
  <td>TestNG-tests-1@1846432598</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>20/02/16 19:50:29</td>   <td>-15759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03_LoginTest.loginTest3(org.testng.ITestContext, java.lang.String, java.lang.String)[pri:0, instance:com.web.testCases.TC03_LoginTest@4bbfb90a]">loginTest3</td> 
  <td>TestNG-tests-2@1000440690</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/16 19:50:22</td>   <td>-22702</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.web.testCases.TC03_LoginTest@4bbfb90a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1000440690</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/16 19:50:22</td>   <td>-22504</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.web.testCases.TC01_LoginTest@887af79]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1846432598</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/16 19:50:22</td>   <td>-22895</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.startReport()[pri:0, instance:com.web.testCases.TC01_LoginTest@887af79]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1846432598</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/16 19:50:22</td>   <td>-22895</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.startReport()[pri:0, instance:com.web.testCases.TC03_LoginTest@4bbfb90a]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1000440690</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/16 19:50:45</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestContext)[pri:0, instance:com.web.testCases.TC01_LoginTest@887af79]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1846432598</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/16 19:50:45</td>   <td>301</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestContext)[pri:0, instance:com.web.testCases.TC03_LoginTest@4bbfb90a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1000440690</td>   <td></td> </tr>
</table>
